body{
  background-color: #191d2b;
}

.App {
  padding: 4rem;
}

.App-logo{
  height: 3vmin;
  pointer-events: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px;
}

.navlink{
  color: white;
  text-decoration: none;
}

.search{
  padding: 10px;
  text-align: center;
}

.search input{
  padding: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #27AE60;
}
.noteContainer{
  display: grid;
  gap: 50px 20px;
  grid-template-columns: auto auto auto;
}

.noteList{
  border-radius: 10px;
  box-shadow: 3px 2px 4px #27AE60;
  color:#FFFFFF;
  padding: 5%;
}

.deleteBtn{
  border-radius: 5px;
  color: #FFFFFF;
  background-color: red;
}

.deleteBtn:hover{
  cursor: pointer;
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

.form{
  display: grid;
  box-shadow: 1px 3px 3px #27AE60;
  box-sizing: border-box;
  padding: 18px;
  border-radius: 15px;
}

.form label{
  color: #FFFFFF;
  margin: 2%;
  font-size: 15px;
}

.form input{
  border-radius: 10px;
  width: 50%;
  padding: 10px;
}

.form textarea{
  width: 50%;
  padding: 20px;
  line-height: 1.5rem;;
  overflow: visible;
  border-radius: 10px;
  margin-bottom: 5%;
}
